<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alice.crm.user.dao.UserDao" >
    <sql id="BASE_TABLE">
        t_user
    </sql>

    <sql id="BASE_COLUMN">
--         userId,userName,password,phone
      id,userName,phone,loginAct,loginPwd,email,lockStatus,expireTime,allowIps,createBy,createTime,editBy,editTime
    </sql>


    <insert id="insertEntity" useGeneratedKeys="true" keyProperty="id" parameterType="com.alice.crm.user.entity.User">
      INSERT INTO t_user
      (id,userName,phone,loginAct,loginPwd,email,lockStatus,expireTime,allowIps,createBy,createTime,editBy,editTime)
      value
      (#{id,jdbcType=BIGINT}, #{userName, jdbcType=VARCHAR},#{phone, jdbcType=VARCHAR},#{loginAct,jdbcType=VARCHAR},#{loginPwd, jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{lockStatus,jdbcType=VARCHAR},
            #{expireTime,jdbcType=TIMESTAMP},#{allowIps,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{editBy,jdbcType=VARCHAR},
            #{editTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.alice.crm.user.entity.User">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            userName,phone,loginAct,loginPwd,email,lockStatus,expireTime,allowIps,createBy,createTime,editBy,editTime
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{userName, jdbcType=VARCHAR}
            <if test="phone != null">
                #{phone, jdbcType=VARCHAR}
            </if>
            #{loginAct,jdbcType=VARCHAR},#{loginPwd, jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{lockStatus,jdbcType=VARCHAR},
            #{expireTime,jdbcType=TIMESTAMP},#{allowIps,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{editBy,jdbcType=VARCHAR},
            #{editTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>

    <delete id="deleteUserById">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=INTEGER}
    </delete>
    <!-- 更新用户信息，为空的字段不进行置空 -->
    <update id="updateUser" parameterType="com.alice.crm.user.entity.User">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="userName != null">
                userName = #{userName, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                loginPwd = #{loginPwd, jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone, jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            id = #{id, jdbcType=INTEGER}
        </where>
    </update>

    <select id="selectUsers" resultType="com.alice.crm.user.entity.User">
        SELECT
        *
        FROM
        <include refid="BASE_TABLE"/>
        ORDER BY userId desc
        limit 0,10
    </select>

    <select id="getUserByUserId" resultType="com.alice.crm.user.entity.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where userId = #{userId, jdbcType=INTEGER}

    </select>

    <select id="getUserByUser" resultType="com.alice.crm.user.entity.User" >
        select * from <include refid="BASE_TABLE"/>
        where loginAct = #{loginAct, jdbcType=VARCHAR} and loginPwd = #{loginPwd, jdbcType=VARCHAR};
    </select>

</mapper>