<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <script th:src="@{http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css}"/>

</head>
<body>
<div class="panel panel-primary" style="padding: 20px 20px 20px 20px">
    <div class="panel-heading">
        <h3 class="panel-title" th:text="${logName}"></h3>
        <a href="javascript:location.reload()">刷新页面</a>
    </div>
</div>
<div th:if="${not #lists.isEmpty(userList)}" style="padding: 20px 20px 20px 20px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="user : ${userList}">
                    <span th:text="${user.getUserId()}"></span>
                    <span th:text="${user.getUserName()}"></span>
                    <span th:text="${user.getPassword()}"></span>
                    <span th:text="${user.getPhone()}"></span>
                    <button class="btn" th:onclick="getName([[${user.getUserName()}]]);">获得名字1</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <a href="/user/add">添加用户</a>
    <!--TODO 写一个添加用户页面  做跳转-->



</div>


<script th:inline="javascript">

    $(document).ready(function () {


    });

    function getName(name) {
        console.log(name);
    };


</script>
</body>
</html>